*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main, header {
  width: min(75ch, 100% - 4rem);
  margin-inline: auto;
}

header {
  padding-block: 2rem;
}

main > section.ea0 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

section {
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  line-height: 1.2;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: .25rem;
}

button {
  padding: 1rem .5rem;
  background-color: rgba(0, 170, 255, 0.25);
  border: none;
  border-radius: .25rem;
}

button:hover {
  cursor: pointer;
}

form {
  & button {
    padding: .75rem .5rem;
  }
  
  & span {
    display: flex;
    gap: .5rem;
  }

  & input {
    padding: .25rem .5rem;
  }
}
