*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main,
header {
  width: min(75ch, 100% - 4rem);
  margin-inline: auto;
}

header {
  padding-block: 2rem;
}

section {
  margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.2;
}

h1 {
  font-size: 3.25rem;
}

button {
  padding: 1rem 0.5rem;
  background-color: rgba(0, 170, 255, 0.25);
  border: none;
  border-radius: 0.25rem;
}

button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-top: .5rem;

  & input {
    padding: 0.25rem 0.5rem;
  }

  & button {
    padding: 0.75rem 0.5rem;
    width: fit-content;
  }
}

